%h1 Devexperts
%p Look up the best developers by StackOverflow prowess and find their Twitter.

%form#search
  %input.query{placeholder: 'keyword'}
  .button

%ul.results

%script#result-template{type: 'text/template'}
  %li
    %a(href="{{=user.link}}")
      %img(src="{{=user.profile_image}}")
    %a(href="{{=user.link}}")
      {{=user.display_name}}
    %p "Post Count (?)": {{=post_count}}
    %p User's Relevance: {{=score}}
    %p Total reputation: {{=user.reputation}}

