.container.blue-background
  %header
    %h1.brand DevExperts
    %p Look up the best developers by StackOverflow prowess and find their Twitter.

  %form#search
    %input.query{placeholder: 'keyword e.g. javascript', autofocus: 'autofocus', required: 'required'}
    %button{type: 'submit'}

.container
  %ul.results

%script#result-template{type: 'text/template'}
  %li
    %a(href="{{=link}}")
      %img(src="{{=profile_image}}")
    %a(href="{{=link}}")
      {{=display_name}}
    %p "Post Count (?)": {{=post_count}}
    %p User's Relevance: {{=score}}
    %p Total reputation: {{=reputation}}
    %p
      %span Twitter handle:
      .twitter-handle
        .handle.fa.fa-spinner.fa-spin
