// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 70px;
}

header {
  * {
    display: inline-block;
  }

  p {
    color: azure;
  }
}

#tj {
  padding-top: 50px;
  text-align: center;
}

#search {
  position: fixed;
  right: 0;
  top: 8px;
  width: 440px;

  button {
    position: absolute;
    top: 0;
    right: 0;
    background: aqua;
    height: 100%;
    width: 80px;
    border: none;

    &:before {
      font-family: FontAwesome;
      font-size: 32px;
      content: "\f002";
    }
  }

  input {
    outline: 0;
    height: 14px;
  }
}

.blue-background {
  background: #0099CC;
}

.brand {
  color: antiquewhite;
  margin-right: 20px;
}

.container {
  padding: 0 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.query {
  width: 100%;
  padding: 20px;
  font-size: 24px;
}

.results {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  padding-left: 0;

  li {
    list-style: none;
    width: 356px;
    padding: 10px;
    margin: 10px;
    border: 8px solid;
  }

  h1 {
    vertical-align: top;
    word-wrap: break-word;
    width: 200px;
  }

  img {
    border: 3px solid aqua;
    width: 134px;
  }

  img, h1 {
    display: inline-block;
  }
}